<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Branch Head DashBoard</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <style>
        
        .sidebar {
            background-color: #333;
            color: #fff;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            overflow-y: auto; 
        }
        .sidebar a {
            padding: 20px 15px; 
            text-decoration: none;
            color: #fff;
            display: block;
        }
        .sidebar a:hover {
            background-color: #555;
        }
        .dropdown {
            display: none;
        }
        .dropdown.active {
            display: block;
        }
        .dropdown-item {
            padding-left: 30px;
        }
        .logout {
            padding: 20px 15px; 
            text-decoration: none;
            color: #fff;
            display: block;
        }
        .logout:hover {
            background-color: #555;
        }
        .user-info {
            padding: 20px 15px;
            font-weight: bold;
        }
        .order-details {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <!-- User Info -->
                <div class="user-info">
                    Welcome, {{ username }}
                </div>
                <a href="{% url 'BranchesInfo:add_delivery_boy' %}"><i class=""></i>add new delivery boy</a>
                <a href="{% url 'BranchesInfo:logout_view'%}" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </nav>
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="branchInfo">
                    <h2> Your Branch Details</h2>
                    <table class="table table table-striped-columns">
                        <thead>
                            <tr>
                                <th>Branch Name</th>
                                <th>Branch Address</th>
                                <th>Branch Head</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for branch in branches %}
                            <tr>
                                <td>{{ branch.Branch_NM }}</td>
                                <td>{{ branch.Address }}</td>
                                <td>{{ branch.Branch_head }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="order-details">
                    <h2>Total number of orders in your Branch: {{orders.count}}</h2>
                </div>
                <div class="order-details">
                    <h2>All Orders From Your Branch</h2>
                    <table class="table table table-striped-columns">
                        <thead>
                            <tr>
                                <th>AWBNO</th>
                                <th>Sender Name</th>
                                <th>Sender Address</th>
                                <th>Sender Contact Number</th>
                                <th>Receiver Name</th>
                                <th>Receiver Address</th>
                                <th>Receiver Contact Number</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            <tr>
                                <td>{{ order.AWBNO }}</td>
                                <td>{{ order.Sender_Name }}</td>
                                <td>{{order.Sender_Address}}</td>
                                <td>{{order.Sender_Contact_No}}</td>
                                <td>{{order.Receiver_Name}}</td>
                                <td>{{order.Receiver_Address}}</td>
                                <td>{{order.Receiver_Contact_No}}</td>
                                <td>
                                    <form action="{% url 'BranchesInfo:packet_assignment_details' %}" method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-info">Allocate Packet</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        </table>
                </div>
                <div class="order-details">
                    <h2>Assigned Orders</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>AWBNO</th>
                                <th>Delivery Boy Id</th>
                                <th>Assigned Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assignment in assigned_orders %}
                            <tr>
                                <td>{{ assignment.AWBNO }}</td>
                                <td>{{ assignment.Delivery_Boy_Id }}</td>
                                <td>{{ assignment.Assign_DT }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="order-details">
                    <h2>Orders status</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>AWBNO</th>
                                <th>Status</th>
                                <th>Location</th>
                                <th>Last Updated</th>
                                <th>Assigned Delivery Boy</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for live_update in matching_live_updates %}
                            <tr>
                                <td>{{ live_update.AWBNO }}</td>
                                <td>{{ live_update.transit_status }}</td>
                                <td>{{ live_update.update_location }}</td>
                                <td>{{ live_update.last_update_time }}</td>
                                <td>{{ live_update.Delivery_Boy_Name }}</td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">No live updates available.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <div class="order-details">
                    <h2>delivery boy details of SpeedEx</h2>
                    <div class="order-details">
                        <h2>Delivery Boys</h2>
                        <table class="table table table-striped-columns">
                            <thead>
                                <tr>
                                    <th>Delivery Boy Name</th>
                                    <th>Contact Number</th>
                                    <th>Delivery Boy Area</th>
                                    <!-- <th>Number of alloted Packets</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% for delivery_boy in delivery_boys %}
                                <tr>
                                    <td>{{ delivery_boy.Delivery_Boy_Name }}</td>
                                    <td>{{ delivery_boy.Delivery_Boy_contact_No }}</td>
                                    <td>{{ delivery_boy.Delivery_Boy_Area }}</td>
                                    <!-- <td>{{ delivery_boy.Number_Of_Alloted_Packets }}</td> -->
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
                <div class="queries">
                    <h2>Query/Feedback Data</h2>
                    <table class="table table table-striped-columns">
                        <thead>
                            <tr>
                                <th>Feedback ID</th>
                                <th>First Name</th>
                                <th>Contact Number</th>
                                <th>Contact Email</th>
                                <th>Contact Date</th>
                                <th>Contact Query/Problem</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in feedback_data %}
                            <tr>
                                <td>{{ feedback.Feedback_Id }}</td>
                                <td>{{ feedback.Fname }}</td>
                                <td>{{ feedback.ContactNo }}</td>
                                <td>{{ feedback.Email }}</td>
                                <td>{{ feedback.Date }}</td>
                                <td>{{ feedback.FeedbackMsg }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <div style="margin-bottom: 12px;"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleDropdowns = document.querySelectorAll('.toggle-dropdown');
            toggleDropdowns.forEach(function(toggle) {
                toggle.addEventListener('click', function() {
                    const dropdown = this.nextElementSibling;
                    dropdown.classList.toggle('active');
                });
            });
        });
    </script>
</body>
</html>