<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0"> -->
    
    <title>Delivery Boy DashBoard</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Adjust sidebar width and colors */
        .sidebar {
            background-color: #333;
            color: #fff;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            overflow-y: auto; /* Enable vertical scrolling */
        }
        .sidebar a {
            padding: 20px 15px; /* Added more vertical padding */
            text-decoration: none;
            color: #fff;
            display: block;
        }
        .sidebar a:hover {
            background-color: #555;
        }
        .dropdown {
            display: none;
        }
        .dropdown.active {
            display: block;
        }
        .dropdown-item {
            padding-left: 30px;
        }
        .logout {
            padding: 20px 15px; /* Added more vertical padding */
            text-decoration: none;
            color: #fff;
            display: block;
        }
        .logout:hover {
            background-color: #555;
        }
        .user-info {
            padding: 20px 15px;
            font-weight: bold;
        }
        .order-details {
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="message-section">
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{message}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
        {% endif %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block sidebar">
                <div class="user-info">
                    Welcome, {{ username }}
                </div>
                
                <!-- <a href="#"><i class="fas fa-user"></i> Profile Management</a> -->
                
                
                <a href="{% url 'BranchesInfo:branch_login_form'%}" class="logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </nav>

            
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="order-details">
                    <h2>allocated Order Details</h2>
                    <table class="table table-striped-columns">
                        <thead>
                            <tr>
                                <th>AWBNO</th>
                                <th style="padding-left: 40px;">Assign Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for packet in packets_allotted %}
                            <tr>
                                <td>{{ packet.AWBNO }}</td>
                                <td style="padding-left: 40px;">{{ packet.Assign_DT }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="order-details">
                    <h2>Detailed Orders</h2>
                    <div style="overflow-x: auto;">
                    <table class="table table-striped-columns">
                        <thead>
                            <tr>
                                <th style="padding-left: 40px;">AWBNO</th>
                                <th style="padding-left: 40px;">Order Date</th>
                                <th style="padding-left: 40px;">Sender Name</th>
                                <th style="padding-left: 40px;">Sender Contact No</th>
                                <th style="padding-left: 40px;">Sender Address</th>
                                <th style="padding-left: 40px;">Order type</th>
                                <th style="padding-left: 40px;">Receiver Name</th>
                                <th style="padding-left: 40px;">Receiver Contact No</th>
                                <th style="padding-left: 40px;">Receiver Address</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for packet_detail in packets_details %}
                            <tr>
                                <td style="padding-left: 40px;">{{ packet_detail.AWBNO }}</td>
                                <td style="padding-left: 40px;">{{ packet_detail.Book_date }}</td>
                                <td style="padding-left: 40px;">{{ packet_detail.Sender_Name }}</td>
                                <td style="padding-left: 40px;">{{ packet_detail.Sender_Contact_No }}</td>
                                <td style="padding-left: 40px;">{{ packet_detail.Sender_Address }}</td>
                                <td style="padding-left: 40px;">{{ packet_detail.order_type }}</td>
                                <td style="padding-left: 40px;">{{ packet_detail.Receiver_Name }}</td>
                                <td style="padding-left: 40px;">{{ packet_detail.Receiver_Contact_No }}</td>
                                <td style="padding-left: 40px;">{{ packet_detail.Receiver_Address }}</td>
                                
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
                <div class="order-details">
                    <h2>Barcode scan to update the packet to the tracking facility</h2>
                    <div style="overflow-x: auto;">
                        <table class="table table-striped-columns">
                            <thead>
                                <tr>
                                    <th style="padding-left: 40px;">AWBNO</th>
                                    <th style="padding-left: 40px;">Order Date</th>
                                    <th style="padding-left: 40px;">Sender Name</th>
                                    <th style="padding-left: 40px;">Sender Contact No</th>
                                    <th style="padding-left: 40px;">Sender Address</th>
                                    <th style="padding-left: 40px;">Order type</th>
                                    <th style="padding-left: 40px;">Receiver Name</th>
                                    <th style="padding-left: 40px;">Receiver Contact No</th>
                                    <th style="padding-left: 40px;">Receiver Address</th>
                                    <th style="padding-left: 40px;">Generate QR</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for packet_detail in packets_details %}
                                <tr>
                                    <td style="padding-left: 40px;">{{ packet_detail.AWBNO }}</td>
                                    <td style="padding-left: 40px;">{{ packet_detail.Book_date }}</td>
                                    <td style="padding-left: 40px;">{{ packet_detail.Sender_Name }}</td>
                                    <td style="padding-left: 40px;">{{ packet_detail.Sender_Contact_No }}</td>
                                    <td style="padding-left: 40px;">{{ packet_detail.Sender_Address }}</td>
                                    <td style="padding-left: 40px;">{{ packet_detail.order_type }}</td>
                                    <td style="padding-left: 40px;">{{ packet_detail.Receiver_Name }}</td>
                                    <td style="padding-left: 40px;">{{ packet_detail.Receiver_Contact_No }}</td>
                                    <td style="padding-left: 40px;">{{ packet_detail.Receiver_Address }}</td>
                                    <td style="padding-left: 40px;">
                                        <form id="generateQRForm" action="{% url 'BranchesInfo:generate_and_store_qr' %}"method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="awbno" id="awbnoInput" value="{{ packet_detail.AWBNO }}">
                                            <button type="submit" class="btn btn-warning">Generate QR</button>
                                        </form>
                                    </td>
                                    
                                </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="order-details">
                    <h2>QR Code Display</h2>
                    <div style="overflow-x: auto;">
                        <table class="table table-striped-columns">
                            <thead>
                                <tr>
                                    <th style="padding-left: 40px;">AWBNO</th>
                                    <th style="padding-left: 40px;">QR Code</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for packet_detail in packets_details %}
                                <tr>
                                    <td style="padding-left: 40px;">{{ packet_detail.AWBNO }}</td>
                                    <td style="padding-left: 40px;">
                                        {% if qr_images and qr_images.packet_detail.AWBNO %}
                                            <img src="{{ qr_images.packet_detail.AWBNO }}" alt="QR Code" style="width: 100px; height: 100px;">
                                        {% else %}
                                            QR Code not available
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="order-details">
                    <h2>Live Updates</h2>
                    <div style="overflow-x: auto;">
                        <table class="table table-striped-columns">
                            <thead>
                                <tr>
                                    <th>AWBNO</th>
                                    <th>Transit Status</th>
                                    <th>Update Location</th>
                                    <th>Last Update Time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for live in live_track %}
                                <tr>
                                    <td>{{ live.AWBNO }}</td>
                                    <td>{{ live.transit_status }}</td>
                                    <td>{{ live.update_location }}</td>
                                    <td>{{ live.last_update_time }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                This
                <div class="update details">
                    <h2>Update Order Status</h2>
                    <form id="update-form">
                        {% csrf_token %}
                        <label for="awbno" class="fw-bold">Select AWBNO:</label>
                        <select name="awbno" id="awbno" class="form-select mb-3">
                            {% for packet in packets_allotted %}
                                <option value="{{ packet.AWBNO }}">{{ packet.AWBNO }}</option>
                            {% endfor %}
                        </select>
                        <div>
                            <label for="transit_status" class="fw-bold">Transit Status:</label>
                            <select name="transit_status" id="transit_status" class="form-select mb-3 fw-bold">
                                <option value="In Transit">In Transit</option>
                                <option value="Delivered">Delivered</option>
                                <option value="Not Delivered">Not Delivered</option>
                            </select>
                        </div>
                        <div>
                            <label for="update_location" class="fw-bold">Update Location:</label>
                            <input type="text" name="update_location" id="update_location" class="form-control mb-3" required>
                        </div>
                        <button type="submit" class="btn btn-primary mb-3">Update</button>
                    </form>
                </div>
            </main>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const toggleDropdowns = document.querySelectorAll('.toggle-dropdown');
            toggleDropdowns.forEach(function(toggle) {
                toggle.addEventListener('click', function() {
                    const dropdown = this.nextElementSibling;
                    dropdown.classList.toggle('active');
                });
            });
    
            // Add event listener to each "Generate QR" button
            const generateQRButtons = document.querySelectorAll('.generate-qr-button');
            generateQRButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    // Get the AWBNO from the corresponding row
                    const awbno = this.dataset.awbno;
                    // Update the value of the hidden input field in the form
                    document.getElementById('awbnoInput').value = awbno;
                    // Submit the form
                    document.getElementById('generateQRForm').submit();
                    
                });
            });
    
            // Get the URL for updating order status
            const updateOrderStatusURL = "{% url 'BranchesInfo:update_packet_status' %}";
    
            // Add event listener to the update form
            document.getElementById('update-form').addEventListener('submit', function(event) {
                event.preventDefault(); // Prevent default form submission
                
                // Collect form data
                var formData = new FormData(this);
                
                // Send AJAX request
                fetch(updateOrderStatusURL, {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    }
                })
                .then(response => {
                    if (response.ok) {
                        // Success message or update UI accordingly
                        console.log('Order status updated successfully');
                        alert('Order Updated successfully!');
                    } else {
                        // Error message or handle errors
                        console.error('Failed to update order status');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            });
        });
    </script>
    
</body>
</html> 