
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packet Assignment Details</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2 class="mt-4">Packet Assignment Details</h2>
        <form action="{% url 'BranchesInfo:packet_assignment_details'%}" method="post" class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="awbno" class="form-label">Select AWBNO from drop down you want to assign:</label>
                {{ form.awbno }}
            </div>
            <div class="mb-3">
                <label for="delivery_boy" class="form-label">Select Delivery Boy from drop down you want to assign:</label>
                {{ form.delivery_boy }}
            </div>
            <button type="submit" class="btn btn-primary">Assign Packet</button>
        </form>
        <a href="{% url 'BranchesInfo:branch_head_dashboard' %}" class="btn btn-secondary mt-3">Go back to Branch Head Dashboard</a>
    </div>
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
