<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Packet Assignment Details</title>
</head>
<body>
    <h2>Packet Assignment Details</h2>
    <ul>
        {% for city in sender_cities %}
            <li>{{ city }}</li>
        {% endfor %}
    </ul>
    <a href="{% url 'BranchesInfo:branch_head_dashboard' %}">Go to Branch Head Dashboard</a>
    <a href="{{ branch_login_form_url }}">Branch Login Form</a>
</body>
</html>
