<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css" rel="stylesheet">
    <style>
        /* Custom CSS for CAPTCHA field */
        .captcha {
            font-size: 400px; /* Increase font size for better readability */
            padding: 10px; /* Add padding for better spacing */
            border-radius: 5px; /* Add border-radius for rounded corners */
            border: 1px solid #ced4da; /* Add border for clarity */
        }
    </style>

</head>
<body>
{% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h2 class="text-muted" style="margin-top: 100px;">Register</h2>
            <form method="POST" action="{% url 'userManagement:signup' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label>Username:</label>
                    <input type="text" name="Client_Name" class="form-control" />
                </div><br>
                <div class="form-group">
                    <label>Enter Your Address:</label><br>
                    <input type="text" name="Client_Address" class="form-control" />
                </div><br>
                <div class="form-group">
                    <label>Enter Your Phone Number:</label><br>
                    <input type="text" name="Client_contact_No" class="form-control" />
                </div><br>
                <div class="form-group">
                    <label>Enter Your Email Address:</label><br>
                    <input type="text" name="Client_Email_Id" class="form-control" />
                </div><br>
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" class="form-control"/>
                </div><br>
                <div class="form-group">
                    <label>Re-Type Password:</label>
                    <input type="password" name="confirmpassword" class="form-control"/>
                </div><br>
                <div class="form-group">
                    <label>Type Captcha Code:</label>
                    {{ form.captcha }}
                    <!-- <input type="text" name="captcha" class="form-control"/> -->
                </div><br>
                <button type="submit" class="btn btn-dark">Submit</button>
                <a href="{% url 'userManagement:user_login_form' %}" class="btn btn-default">Login</a>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
</body>
</html>
